<div class="card text-center">
  <div class="card-header">
    User Details
  </div>
  <div class="card-body">
    <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
    <p class="card-text">{{user.email}}</p>
    <p class="card-text">isValid: {{user.isValid}}</p>
    <button (click)="goBack()" class="btn btn-info mr-2">Back</button>
    <a routerLink="/edit/{{user.id}}" class="btn btn-primary">Edit</a>
  </div>
</div>
