  <div class="card card-body col-6 ">
    <form #editedUser="ngForm" (ngSubmit)="edit(editedUser)">
      <div class="form-group">
        <label>Firstname</label>
        <input type="text" class="form-control" name="firstname" [(ngModel)]="user.firstname" required minlength="3" />
      </div>
      <div class="form-group">
        <label>Lastname</label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]="user.lastname" required minlength="2" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="user.email" required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
      </div>
      <a routerLink typer="submit" class=" btn btn-success mt-3 mb-3">Edit User</a>
    </form>
  </div>
