<nav class="navbar navbar-expand navbar-light bg-light mb-4">
  <a class="navbar-brand">Users App</a>
  <div class="navbar-nav">
    <a routerLink="" class="nav-item nav-link">Users</a>
    <a routerLink="posts" class="nav-item nav-link">Posts</a>
    <a routerLink="leaflet" class="nav-item nav-link">Leaflet</a>
    <a routerLink="googleMaps" class="nav-item nav-link">Google Maps</a>
  </div>
</nav>
