<div class="col-md-6 text-center ">
  <button (click)="isHidden = !isHidden" class="btn btn-primary mt-3 mb-3 ">Add User</button>
</div>
<div class="card card-body col-6" [hidden]="isHidden">
  <form #userForm="ngForm" (ngSubmit)="addNewUser(userForm)">
    <div class="form-group">
      <label>Firstname</label>
      <input type="text" class="form-control" #userFirstName="ngModel"
        [ngClass]="{'is-invalid': userFirstName.errors && userFirstName.touched}" name="firstname"
        [(ngModel)]="user.firstname" required minlength="3" />
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">First Name required</div>
      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">Must be at least 3 characters</div>
    </div>
    <div class="form-group">
      <label>Lastname</label>
      <input type="text" class="form-control" #userLastName="ngModel"
        [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched}" name="lastname"
        [(ngModel)]="user.lastname" required minlength="2" />
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">Last Name required</div>
      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">Must be at least 2 characters</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" #userEmail="ngModel"
        [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}" name="email" [(ngModel)]="user.email" required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">Email required</div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">Email Invalid</div>
    </div>
    <button type="submit" [disabled]="!userForm.form.valid" class=" btn btn-success mt-3 mb-3">Add</button>
  </form>
</div>
