<div class="alert alert-info text-center" role="alert">
  <p>Get posts from http request</p>
</div>

<app-post-form [isEdit]='isEdit' [currentPost]=' currentPost' (newPost)="onNewPost($event)"
  (updatedPost)="onUpdatedPost($event)"></app-post-form>

<div class="card" *ngFor="let post of posts">
  <div class="card-body">
    <h5>
      <a routerLink="/posts/{{ post.id }}" class="text-decoration-none" routerLinkActive="active">
        {{ post.title }} </a></h5>

    <p>{{post.body}}</p>
    <hr>
    <button (click)="editPost(post)" class="btn btn-warning"><i class="fa fa-pencil"></i></button>
    <button (click)="deletePost(post)" class="btn btn-danger ml-1"><i class="fa fa-remove"></i></button>
  </div>
</div>
