<h5 *ngIf="!post">loading...</h5>
<div *ngIf="post" class="card col-6">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <div class="card-text">{{post.body}}
    </div>
  </div>
  <a routerLink="/posts" class="btn btn-info mysm">Posts</a>
</div>
