<div class="alert alert-info col-6 mt-3 mb-4" role="alert">
  <p>Users Saved in userService/reload will refresh</p>
</div>

<ul class="list-group">
  <li [ngClass]="{
      makeSpace: true,
      'list-group-item col-6 d-flex align-items-center': true,
      'bg-secondary': !user.isValid,
      'bg-light': user.isValid
    }" [ngStyle]="{ color: user.color }" *ngFor="let user of users">
    <div>
      <i class="fa fa-user mr-2"></i>
      <a routerLink="/user/{{ user.id }}" routerLinkActive="active"
        [ngStyle]="{ color: user.isValid ? 'blue' : 'white' }" class="text-decoration-none">
        {{ user.firstname }}</a>
    </div>
    <div class="to-right">
      <a routerLink="/edit/{{ user.id }}" routerLinkActive="active">
        <i class=" fa fa-edit" [ngStyle]="{ color: 'orange' }"></i>
      </a>
      <i (click)="removeUser(user.id)" class="fa fa-trash" [ngStyle]="{ color: 'red' }"></i>
    </div>
  </li>
</ul>

<div *ngIf="users.length == 0" class="alert alert col-6 mt-3 mb-4" role="alert">
  <p>No more users here...</p>
</div>

<app-add-user></app-add-user>
