<div class="alert alert-info col-6 mt-3 mb-4" role="alert">Welcome to our Google Maps centered on Toulouse
</div>
<agm-map (mapClick)="onMarker($event)" [zoom]="zoom" [latitude]="latitude" [longitude]="longitude"
  [mapTypeId]="mapType">
  <agm-marker [latitude]="markerLat" [longitude]="markerLng"></agm-marker>
</agm-map>
